# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma
/app/generated/prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations

# JWT Keys (keep private key secret!)
keys/jwt.key
# Public key can be shared but also ignored for security
keys/jwt.key.pub
