services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-store}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-Store141213}
      # Webhook will be configured via mc admin after container starts
    ports:
      - "9005:9000"
      - "9006:9001"
    volumes:
      - minio_data:/data
    security_opt:
      - apparmor:unconfined
    networks:
      - minio-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - ingest.geoip.downloader.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - minio-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - minio-network

networks:
  minio-network:
    driver: bridge

volumes:
  minio_data:
  elasticsearch_data: